<configuration>

  <appender name="json" class="com.blacklocus.logback.s3.JsonAppender">
    <target>System.out</target>
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

    <debug>true</debug>
  </appender>

  <logger name="com.blacklocus.logback.s3.LogTest" level="trace"/>

  <root level="warn">
    <appender-ref ref="json"/>
  </root>
</configuration>