<configuration>

  <shutdownHook/>

  <appender name="s3" class="com.blacklocus.logback.s3.AvroS3Appender">
    <bucket>bl-log</bucket>
    <keyPattern>raw/test/%d{yyyy/MM/dd/HH:mm:ss}.json.gz</keyPattern>
    <renderPattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</renderPattern>
    <gzip>true</gzip>

    <debug>true</debug>
  </appender>

  <logger name="com.blacklocus.logback.s3.LogTest" level="trace"/>

  <root level="warn">
    <appender-ref ref="s3"/>
  </root>
</configuration>